@import url("https://fonts.googleapis.com/css?family=Poppins");


/* -------VARIABLES ---------*/
:root{
  --main-color:#eaa023;
  --dark:#0c1023;
  --dark-light:#191f3a;
  --white:#ffffff;
  --white-light:#c8c8c8;
  --shadow:0 0 15px rgba(0,0,0,25);
  --cursive-font:'Dancing Script', cursive;
  scroll-behavior: smooth;
}

/*-----GLOBAL SETTING ------------*/

*{
margin: 0;
padding: 0;
box-sizing: border-box;
outline: none;

}


*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--color-white);
  margin-top: auto;
  margin: auto;
  height: 80vh;
  width: 80vw;
}

body * {
  color: var(--white-light);

}

body::before {
  content: " ";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  z-index: -1;
  background: var(--dark);
  background: var(--dark);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  line-height: 1.2;
  font-weight: 400;
}

p {
  font-size: 1.125rem;
}

h1,
p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

label {
  display: flex;
  /* Align all the created items to the center */
  align-items: flex-start;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  border: none;
}

.container {
  width: 80vw !important;
  margin: auto;
  
  display: flex;
  justify-content: space-around;

}

.col {
  width: 48%;
  border: 2px solid blue;
 
}

@media (max-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 720px;
  }
}

.col * {
  color: var(--white-light) !important;

}

.result {
  display: block;
}

.header {
  padding: 0 0.625rem;
  margin-bottom: 1.875rem;
}

.categories {
  display:flex;
  width: 80%;
  margin: auto;
  margin-bottom: 7px;
  border-radius: 10px;
  height: 6%;
  justify-content:space-between;
  align-items: center;
  padding: 2px;

  
  border: 2px double var(--main-color);
}

.description {
  font-style: italic;
  font-weight: 200;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.clue {
  margin-left: 0.25rem;
  font-size: 0.9rem;
  color: #e4e4e4;
}

.text-center {
  text-align: center;
}

p[class=text-center]{
 display: flex;
 justify-content: space-around;
 font-size: 1.25rem;
}
form {
  background: var(--dark-light);
  padding: 2.5rem 0.625rem;
  border-radius: 0.25rem;
}

@media (max-width: 480px) {
  form {
    padding: 2.5rem;
  }
}

.form-group {
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
}

#result-id{
  height: 60vh;
}
.form-control {
  display: block;
  width: 100%;
  height: 2.375rem;
  padding: 0.375rem 0.75rem;
  color: rgb(2, 44, 44);
  color: royalblue;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.input-radio,
.input-checkbox {
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}

.input-textarea {
  min-height: 120px;
  width: 100%;
  padding: 0.625rem;
  /* The below snippet of code specifies that the user can only resize the textarea vertically */
  resize: vertical;
}

.submit-button {
  display: block;
  width: 100%;
  padding: 0.75rem;
  background: var(--main-color);
  color: inherit;
  border-radius: 2px;
  cursor: pointer;
}
